{
    "presets": [
       ["@babel/env", {
        "targets": {
            "node": 6
        }
       }]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        "transform-async-to-generator"
    ]
}